.gypsy-checkbox input[type=checkbox] {
    display: none;
}

.gypsy-checkbox {
    display: inline-block;
    position: relative;
}

.gypsy-checkbox label {
    display: inline-block;
    cursor: pointer;
    user-select: none;
    width: auto;
    vertical-align: middle
}

.gypsy-checkbox label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../../../../icons//checkBox/normal.png) 0 0 no-repeat;

}

.gypsy-checkbox input[type=checkbox]:checked+label:before {
    background: url(../../../../icons/checkBox/active.png) 0 0 no-repeat;
}

.gypsy-checkbox label:hover:before {
    background: url(../../../../icons/checkBox/hover.png) 0 0 no-repeat;
}

.gypsy-checkbox input[type=checkbox]:disabled+label:before {
    background: url(../../../../icons/checkBox/disable.png) 0 0 no-repeat;
}