.accessories {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.accessorie {
    //margin-right: 30px;
}

.accessorie-name {
    margin-bottom: 5px;
    color: #FFFFFF;
}

.accessorie-price {
    margin-bottom: 20px;
    color: #A3B8CC;
}

.accessorie-quantity {
    margin-bottom: 20px;
}

.accessorie-image-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.accessories-grid {
    grid-column-start: 2;
    grid-column-end: 8;
}

.accessorie-grid {
    text-align: center;
    grid-column: span 2;
}

@media only screen and (max-width: 1919px) {
}

@media only screen and (max-width: 1023px) {
    .accessories-grid {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

@media only screen and (max-width: 767px) {
    .accessories-grid {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .accessorie {
        //margin-right: 30px;
    }
}