.factory-items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    inline-size: max-content;
}

.factory-items-grid {
    grid-column-start: 2;
    grid-column-end: 8;
}

.factory-item-grid-chooser{
    grid-column-start: 1;
    grid-column-end: 3;
}

.factory-item-grid-icons{
    grid-column-start: 3;
    grid-column-end: 5;
}

.factory-item-grid-robot{
    grid-column-start: 5;
    grid-column-end: 7;
}

.factory-item-grid {
    grid-column: span 2;
}

.factory-parts-enumeration,
.chooser-title {
    color: #FFFFFF;
}

.factory-parts-enumeration {
    margin-bottom: 50px;
}

.chooser-title {
    margin-bottom: 15px;
    text-align: left;
}

.chooser-union {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.factory-grid-title {
    grid-column-start: 2;
    grid-column-end: 4;
}

@media only screen and (max-width: 1919px) {
}

@media only screen and (max-width: 1023px) {
    .factory-grid-title {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .factory-items-grid {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .factory-item-grid-chooser{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .factory-item-grid-icons{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .factory-item-grid-robot{
        grid-row-start: 1;
        grid-column-start: 3;
        grid-column-end: 5;
    }
}

@media only screen and (max-width: 767px) {
    .factory-items-grid {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .factory-item-grid-chooser{
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .factory-item-grid-icons{
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .factory-item-grid-robot{
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}