.factory-items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    inline-size: max-content;
}

.factory-items-grid {
    grid-column-start: 2;
    grid-column-end: 8;
}

.factory-item-grid {
    grid-column: span 2;
}

.factory-parts-enumeration,
.chooser-title {
    color: #FFFFFF;
}

.factory-parts-enumeration {
    margin-bottom: 50px;
}

.chooser-title {
    margin-bottom: 15px;
    text-align: left;
}

.chooser-union {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}

.factory-grid-title {
    grid-column-start: 2;
    grid-column-end: 4;
}