header {
    //position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 90px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50;
    padding-bottom: 50;
}

.header-grid-image {
    grid-column-start: 1;
    grid-column-end: 2;
}

.header-grid-button {
    grid-column-start: 7;
    grid-column-end: 9;
    
}