header {
    //position: relative;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50;
    padding-bottom: 50;
}