.accessories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 0px;
    justify-content: space-between;
    inline-size: min-content;
}

.accessorie {
    text-align: center;
    margin-right: 30px;

}

.accessorie-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 5px;
    color: #FFFFFF;
}

.accessorie-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #A3B8CC;
}

.accessorie-image-wrapper {
    position: relative;
    padding-top: 56.25%;
}

.accessorie-image {
    object-fit: cover;
    width: 270px;
    height: 270px;
    margin-bottom: -50px;
}

.accessorie-empty-image {
    object-fit: cover;
    width: 270px;
    height: auto;
}