$r: rgba(38, 57, 77, 1);
$rT: rgba(33, 37, 41, 1);
$o: rgba(255, 127, 34, 1);
$oT: rgba(255, 128, 0, 0);

header {
    position: relative;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header-wrapper {
    
}

@media (min-width: 600px) {
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50;
        padding-bottom: 50;

    }
}

.pac-man {
    object-fit: cover;
    width: auto;
    height: auto;
}
