.header-button {
    color: #ffffff;
    background: transparent;
    border: 2px solid #ff7f22;
    border-radius: 48px;
    padding: 12px 18px;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header-button:hover {
    background: #ff5722;
    border: 2px solid #ff5722;
}

.header-button:active {
    background: #ff7f22;
    border: 2px solid #ff7f22;
}

.header-button:disabled {
    color: #4C5865;
    border: 2px solid #4C5865;
    background: transparent;
}