.modal-window {
    height: 100vh;
    width: 100vw;
    background-color: rgba(26, 26, 26, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal-window-active {
    opacity: 1;
    pointer-events: all;
}

.modal-window-content {
    border-radius: 10px;
    background-color: #FFFFFF;
    position: relative;
    height: auto;
}

.modal-window-wrap-content {
}

.modal-window-icon {
    width: 42px;
    height: auto;
    //margin-left: 6%;
    //margin-top: 20%;
}

.modal-window-title {
    color: #212529;
}

.modal-window-sub-title {
    color: #4C5865;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;

}