.wallet {
    padding-left: 0%;
    padding-right: 0%;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 50px;
}

.coin {
    display: inline-block;
    margin-right: -7px;
}

.coins {
    display: flex;
    flex-direction: row-reverse;
    
}

.coins-wrapper{
    width: max-content;
}

.modal-coin {
    height: 52px;
    width: auto;
}

.wallet-modal-wrap {
    margin: 10px 10% 10px 10%;
    width: 580px;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    //justify-content: space-between;
}

.gypsy-button {
    background: none;
    border: none;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FF7F22;
    text-decoration: underline;
    margin-right: 20px;
    cursor: pointer;
}

.gypsy-button:hover {
    color: #FF5722;
}

.gypsy-button:active {
    color: #FF7F22;
    text-decoration: none;
}

.gypsy-button:disabled {
    color: #4C5865;
    text-decoration: none;
}

.gypsy-checkbox-label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}



.gypsy-checkbox {
    margin-bottom: 0px;
}

.gypsy-checkbox input[type=checkbox] {
    display: none;
}

.gypsy-checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 0;
    line-height: 40px;
    user-select: none;
}

.gypsy-checkbox label:before {

    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../../assets/icons/checkBox/normal.png) 0 0 no-repeat;

}

.gypsy-checkbox input[type=checkbox]:checked+label:before {
    background: url(../../assets/icons/checkBox/active.png) 0 0 no-repeat;
}

.gypsy-checkbox label:hover:before {
    background: url(../../assets/icons/checkBox/hover.png) 0 0 no-repeat;
}

.gypsy-checkbox input[type=checkbox]:disabled+label:before {
    background: url(../../assets/icons/checkBox/disable.png) 0 0 no-repeat;
}