.gypsy-button {
    color: #FF7F22;
    text-decoration: underline;
    margin-right: 20px;
}

.gypsy-button:hover {
    color: #FF5722;
}

.gypsy-button:active {
    color: #FF7F22;
    text-decoration: none;
}

.gypsy-button:disabled {
    color: #4C5865;
    text-decoration: none;
}