.market-button, .factory-button {
    //display: block;
    width: 100%;
    color: #ffffff;
    background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
    border: 0px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.16);
}

.factory-button {
    position: absolute;
    margin-bottom: 55px;
    bottom: 0;
}

.market-button:hover, .factory-button:hover {
    background: #FF5722;
    border: 0px;
}

.market-button:active, .factory-button:active {
    background: #FF7F22;
    border: 0px;
}

.market-button:disabled, .factory-button:disabled {
    color: #7D90A6;
    background: #4C5865;
    border: 0px;
}